<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Employee</title>
    <link rel="stylesheet" href="../public/css/home.css">
</head>

<body>
    <%- include('partials/header') %>

        <div class="form">
            <form action="/updateUser" method="post" enctype="multipart/form-data">
                <fieldset>
                    <legend class="nav_form">Form Update Employee</legend>
                    <div>
                        <div class="inputgroup none">
                            <label for="id">ID:</label>
                            <input type="number" id="id" name="id" value="<%= user['id'] %>"><br><br>
                        </div>
                        <div class="inputgroup">
                            <label for="name">Name:</label>
                            <input type="text" id="name" name="name" value="<%= user['name'] %>"><br><br>
                        </div>
                        <div class="inputgroup">
                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email" value="<%= user['email'] %>"><br><br>
                        </div>
                        <div class="inputgroup">
                            <label for="phone">Phone:</label>
                            <input type="text" id="phone" name="phone" value="<%= user['phone'] %>"><br><br>
                        </div>
                        <div class="inputgroup">
                            <label for="avatar">Avatar:</label>
                            <img src="../public/img/<%= user.avatar %>" alt="avatar" style="width:50px;height:50px;">
                            <input type="file" id="avatar" name="avatar" value="<%= user['avatar'] %>"><br><br>
                        </div>
                        <div class="inputgroup">
                            <label for="address">Address:</label>
                            <textarea id="address" name="address"><%= user['address'] %></textarea><br><br>
                        </div>
                        <div class="inputgroup">
                            <label for="role">Role:</label>
                            <input type="number" id="role" name="role" value="<%= user['role'] %>"><br><br>
                        </div>
                        <div class="inputgroup">
                            <label for="active">Active:</label>
                            <input type="number" id="active" name="active" value="<%= user['active'] %>"><br><br>
                        </div>
                        <div class="inputgroup">
                            <label for="password">Password:</label>
                            <input type="password" id="password" name="password"
                                value="<%= user['password'] %>"><br><br>
                        </div>
                        <div class="inputgroup">
                            <label for="email_verified_at">Email Verified At:</label>
                            <input type="datetime" id="email_verified_at" name="email_verified_at"
                                value="<%= user['email_verified_at'] %>"><br><br>
                        </div>
                        <div class="inputgroup">
                            <label for="remember_token">Remember Token:</label>
                            <input type="text" id="remember_token" name="remember_token"
                                value="<%= user['remember_token'] %>"><br><br>
                        </div>
                        <div class="inputgroup">
                            <label for="created_at">Created At:</label>
                            <input type="datetime" id="created_at" name="created_at"
                                value="<%= user['created_at'] %>"><br><br>
                        </div>
                        <div class="inputgroup">
                            <label for="updated_at">Updated At:</label>
                            <input type="datetime" id="updated_at" name="updated_at"
                                value="<%= user['updated_at'] %>"><br><br>
                        </div>
                        <div>
                            <button>SAVE</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
</body>

</html>